.navbar-inner {
    /*background-image: -webkit-linear-gradient(top, #D1E751, #a9c023);*/
    background-image: none;
    background-color: #D1E751;
}

.navbar .brand {
    position: relative;
    left: 20px;
    color: #ffffff;
}
