
#contents {
    position: absolute;
    width: 400px;
    height: 100%;
    left: 50%;
    margin-left: -200px;
}

#user-info {
    position: absolute;
    left: 0;
}

#profile {
    position: absolute;
    width: 200px;
    top: 60px;
    left: 0;
}

#username {
    position: relative;
    text-align: center;
    top: 0;
    font-weight: bold;
}

#points-div {
    position: absolute;
    top: 60px;
    left: 130px;
}

#powch {
    position: absolute;
    top: 10px;
}

#point-count {
    position: absolute;
    width: 100px;
    left: 55px;
    top: 25px;
}

#contracts-div {
    position: absolute;
    right: 0;
    top: 80px;
}

#contract-dropdown {
    width: 100%;
}
